h1 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
thead {
    height: 2rem;
    text-align: left;
    color: #1db954;
    background-color: #d3d3d3;
    border-collapse: collapse;
}
img {
    width: 100px;
    height: 100px;

}
th, td {
    padding: 5em;
    border-bottom-width: 1px;
    border-bottom: solid, #d3d3d3;
}
table:nth-child(even) {
    background-color: #eee;
}
table:first-child {
    background-color:white;
}
tbody tr:hover {
    background-color: pink
}

